<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"      
 "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<!-- namespace:该xml文件对应哪个接口 -->
<mapper namespace="cn.tedu.store.mapper.UserMapper">

	<!-- 插入用户数据 -->
	<!-- Integer insert(User user) -->
	<insert id="insert">
		insert into t_user
			(username,password,salt,gender,phone,email,
			avatar,is_delete,created_user,created_time,modified_user,
			modified_time)
		values 
			(#{username},#{password},#{salt},#{gender},
			#{phone},#{email},#{avatar},#{isDelete},#{createdUser},
			#{createdTime},#{modifiedUser},#{modifiedTime})
	</insert>
	
	<!-- 更新用户基本资料 -->
	<!-- Integer updateInfo(User user) -->
	<update id="updateInfo">
		update t_user set
		<if test="phone!=null">
		 phone=#{phone},
		</if>
		<if test="email!=null">
		 email=#{email},
		</if>
		<if test="gender!=null">
		gender=#{gender},
		</if>
		
		modified_user=#{modifiedUser},
		modified_time=#{modifiedTime} 
		where 
		uid=#{uid};
	</update>
	
	
	<!-- 修改密码 -->
	<update id="updatePassword">
		update t_user set password=#{password},modified_user=#{modifiedUser},modified_time=#{modifiedTime} where uid=#{uid};
	</update>
	
	<!-- 用户上传头像 -->
	<update id="updateAvatar">
		update t_user set avatar=#{avatar},modified_user=#{modifiedUser},modified_time=#{modifiedTime} where uid=#{uid};
	</update>
	
	<!-- 根据用户id查找数据 -->
	<select id="findByUid" resultType="cn.tedu.store.entity.User">
		select username,phone,email,gender,is_delete isDelete,password,salt from t_user where uid=#{uid};
	</select>
	
	
	
	<!-- 根据用户名查询用户数据 -->
	<!-- User findByUsername(String username) -->
	<select id="findByUsername" resultType="cn.tedu.store.entity.User">
		select uid,username,avatar,password,salt,is_delete as isDelete from t_user where username=#{username};
	</select>
	
	
	
	
</mapper>